@font-face {
    font-family: FiraSansCondensedRegular;
    src: url(Fonts/FiraSansCondensed-Regular.otf);
}

@font-face {
    font-family: FiraSansCondensedLight;
    src: url(Fonts/FiraSansCondensed-Light.otf);
}

h1 {
    font-family: 'FiraSansCondensedRegular', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: #F1F1F1;
}

.vertical-menu {
    display: table-cell;
    text-align: center;
    float:left;
    position:fixed;
}

.vertical-menu a {
    background-color:rgb(36, 57, 125); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    text-decoration: none; /* Remove underline from links */
    height: 16.666666666667vh;
    width: 5vw;
}

.vertical-menu img{
    max-width: 100%;
    margin-top: 50%;
}

.vertical-menu a:hover {
    background-color:rgb(183, 218, 254); /* Dark grey background on mouse-over */
    transform: scale(1.2,1); /* Standard syntax */
}

.wrapper {
    width: 100vw;
}

.flex-container, .flex-container2 {
    display: -webkit-flex;
    display: flex;
    color: white;
    font-family: FiraSansCondensedLight;
    font-size: 15em;
    width:90vw;
    height: auto;
    float:right;
    margin-right: 50px;
}

.flex-item, .flex-item2 {
    width: 20vw;
    height: 18vw;
    margin: 1vw;
    border: 1px solid #FF6620;
	box-shadow: 5px 5px 10px #888888;
	margin-bottom: 30px;
}

#top, #bottom {
    left: 0;
    right: 0;
    text-align:left;
    font-size: 2vw;
}

#top {
    top: 0;
    border-bottom-style: none;

}


#bottom {
    bottom: 0;
    background-color: #b7daf4;
    color: black;
    border-width:1px;
    border-bottom-style:solid;
    border-color: #FF6620;
	height:5vw;
}

.titel {
    font-size: 0.7em !important;
    text-align: center;
    font-family: FiraSansCondensedLight;
}

.thumbnail {
  position: relative;
  width: 20vw;
  height: 26.25vh;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20vw;
  height: 13vw;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.projects {
    width: 100%;
    height: auto;
}