@font-face {
    font-family: FiraSansCondensedRegular;
    src: url(../fonts/FiraSansCondensed-Regular.otf);
}

@font-face {
    font-family: FiraSansCondensedLight;
    src: url(../fonts/FiraSansCondensed-Light.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: #F1F1F1;
}

.vertical-menu {
    display: table-cell;
    text-align: center;
    float: left;
}

.vertical-menu a {
    background-color:rgb(36, 57, 125); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    text-decoration: none; /* Remove underline from links */
    height: 16.666666666667vh;
    width: 5vw;
}

.vertical-menu img{
    max-width: 100%;
    margin-top: 50%;
}

.vertical-menu a:hover {
    background-color:rgb(183, 218, 254); /* Dark grey background on mouse-over */
    transform: scale(1.2,1); /* Standard syntax */
}

.wrapper{
    width: 100vw;
    background-color: #F1F1F1;
}

.box {
	position: relative;
	display: block;
	float: left;
    width: 250px;
    margin-left: 1.5em;
    margin-bottom: 0.5em ;
    padding: 0 10px 0;
    color: #666;
    background: #fff;
    border: 1px solid #FF6620;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 45px;

}

.box h3 {
	position: relative;
    display: block;
    height: 20px;
    line-height: 1.3em;
    width: 25vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h4 {
	position: relative;
    display: block;
    height: 20px;
    line-height: 1.3em;
    width: 15vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h5 {
	position: relative;
    display: block;
    height: 20px;
    line-height: 1.3em;
    width: 18vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h9 {
	position: relative;
    display: inline-block;
    height: 20px;
    line-height: 1.3em;
    width: 30vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h10 {
	position: relative;
    display: inline-block;
    height: 20px;
    line-height: 1.3em;
    width: 20vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h11 {
	position: relative;
    display: inline-block;
    height: 20px;
    line-height: 1.3em;
    width: 580px;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.box h12 {
	position: relative;
    display: inline-block;
    height: 20px;
    line-height: 1.3em;
    width: 28vw;
    margin-bottom: 40px;
    margin: 0;
    padding: 5px 10px;
    left: -10px;
    top: 8px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F1F1F1;
    font-family: FiraSansCondensedRegular;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.tekst1{
    margin-top: 20px;
    text-align: left;
    font-family: FiraSansCondensedLight;
    font-size: 1.5em;
    color: white;
}

.tekst2{
  margin-top: 15px;
  text-align: left;
    font-family: FiraSansCondensedLight;
    font-size: 1.5em;
  color: white;
}

.tekst3{
  margin-top: 20px;
  text-align: right;
    font-family: FiraSansCondensedLight;
    font-size: 1.5em;
  color: white;
}

.tekst4{
  margin-top: 20px;
  text-align: left;
    font-family: FiraSansCondensedLight;
    font-size: 1.5em;
  color: white;
}

.instellingen{
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  left: 150px;
}

.facebook{
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
  left: 10px;
}

.linkedin{
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
  left: 30px;
}

.instagram{
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
  left: 50px;
}

.snapchat{
  width: 50px;
  height: 50px;
  position: relative;
  top: 40px;
  left: 70px;
}

.forum{
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  float: left;
}
